// Light mode - default
:root {
    // https: //colorhunt.co/palette/867ae9fff5abffceadc449c2
    --main-color: #D2001A;
    --sub-color: #FFDE00;
    --background-color: #FFFAE7;
    --text-color: #EFEFEF;
    
}

// Dark mode - default
// [data-theme="darkMode"] {

// }

$breakpoint-tablet: 768px;

$main-color: var(--main-color);
$sub-color: var(--sub-color);
$background-color: var(--background-color);
$text-color: var(--text-color);