// Light mode - default
:root {
    // https: //colorhunt.co/palette/867ae9fff5abffceadc449c2
    --main-color: #D2001A;
    --sub-color: #FFD462;
    --background-color: #FFFAE7;
    --text-color: #EFEFEF;

    --button-background: #141414;
    --button-text: #e2e2e2;
    
}

// Dark mode - default
// [data-theme="darkMode"] {

// }

$breakpoint-tablet: 768px;

$main-color: var(--main-color);
$sub-color: var(--sub-color);
$background-color: var(--background-color);
$text-color: var(--text-color);

$button-background: var(--button-background);
$button-text: var(--button-text);