@mixin shape($w: _, $h: _, $r: _) {
  @if $w !=_ {
    width: $w;
  }
  @if $h !=_ {
    height: $h;
  }
  @if $r !=_ {
    border-radius: $r;
  }
}

@mixin inset($t: _, $r: _, $b: _, $l: _) {
  @if $t !=_ {
    top: $t;
  }
  @if $r !=_ {
    right: $r;
  }
  @if $b !=_ {
    bottom: $b;
  }
  @if $l !=_ {
    left: $l;
  }
}

@mixin position($position, $t: _, $r: _, $b: _, $l: _, $z: _) {
  position: $position;
  @include inset($t, $r, $b, $l);
  @if $z !=_ {
    z-index: $z;
  }
}
