// Light mode - default
:root {
    // https://flatuicolors.com/palette/nl
    --main-color: #ecf0f1;
    --sub-color: #FFD462;
    --background-color: #ffffff;
    --text-color: #8e44ad;

    --button-background: #9b59b6;
    --button-text: #ecf0f1;

    --calendar-empty: #9b59b6;
    --calendar-presence: #2980b9;
    --calendar-overhours: #1abc9c;
    --calendar-vacation: #2ecc71;
    
}

// Dark mode - default
// [data-theme="darkMode"] {

// }

$breakpoint-tablet: 950px;

$main-color: var(--main-color);
$sub-color: var(--sub-color);
$background-color: var(--background-color);
$text-color: var(--text-color);

$button-background: var(--button-background);
$button-text: var(--button-text);

$calendar-empty: var(--calendar-empty);
$calendar-presence: var(--calendar-presence);
$calendar-overhours: var(--calendar-overhours);
$calendar-vacation: var(--calendar-vacation);